/* my_apps css */

.myapps-img {
	border-radius: 10px;
}

div.form {
	max-width: 600px;
}
/*
.ellipsis {
    width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.ellipsis-suv {
	width: 198px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
*/

.control-label{
	margin-top : 5px;
}

.ellipsis {
	display: block;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}

.ellipsis-suv {
	display: block;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}
	
	
.btn-pull-right {
	text-align: right;
}